build/
build-*/
cmake-build-*/
*.o
*.a
*.dylib
*.so
*.ll
!tests/llvm/shared-mutable-report.ll
!tests/llvm/shared-mutable-rewrite.ll
!tests/llvm/lock-touch-report.ll
!tests/llvm/lock-touch-instrument.ll
*.bc
*.mlir.tmp
.DS_Store
benchmark/**/build/
benchmark/**/target/
benchmark/**/.git
benchmark/**/CMakeCache.txt
benchmark/**/CMakeFiles/
benchmark/**/cmake_install.cmake
benchmark/**/*_log.txt
benchmark/gups/gups
benchmark/xindex/YCSB/xindex_dat/*.dat
benchmark/xindex/YCSB/xindex_dat/*.tmp
